<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">

    <app-update-domaine [domaine]="updatedDom"
    (domaineUpdated)= "domaineUpdated($event)" 
    [ajout]="ajout"></app-update-domaine>
    </div>
<div class="card shadow mb-4">
<div class="card-body">
<table class="table table-striped">
<thead>
<tr> <th>Id</th><th>Nom Domaine</th> </tr>
</thead>
<tbody *ngFor="let dom of domaines">
<tr>
<td>{{dom.idDom}}</td>
<td>{{dom.nomDom}}</td>
<td><a class="btn btn-success" (click)="updateDom(dom)">Editer</a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>

