<div class="container">
    <div>
    <h2>Modifier un Freelancer :</h2>
    </div>
    <form >
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >ID Freelancer</label>
    <input readonly type="text" [(ngModel)]="currentFreelancer.idFreelancer"
    name="idFreelancer" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom Freelancer</label>
    <input type="text"[(ngModel)]= "currentFreelancer.nomFreelancer"
    name="nomFreelancer" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Salaire Freelancer</label>
    <input type="number" [(ngModel)]= "currentFreelancer.salaireFreelancer"
    name="salaireFreelancer" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date Inscription </label>
        <input type="date" [ngModel]="currentFreelancer.dateinscription | date: 'yyyy-MM-dd'"
        (ngModelChange)=" currentFreelancer.dateinscription= $event" name="dateInscription"
         class="form-control">
        </div>
         <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Domaine</label>
            <select class="form-control form-control-lg" id="idDom" name="idDom"
            [(ngModel)]="updatedDomId">
            <option *ngFor="let dom of domaines" [value]="dom.idDom" >
            {{dom.nomDom}}
            </option>
            </select>
            </div>
            
            

            <div class="col-sm-16 col-md-16 col-lg-16">
                <label class="mb-2">Image :</label>
                <input type="file" (change)="onImageUpload($event)" class="form-control">
                </div>
                
                <div class="mt-2">
                    <button type="submit" (click)="onAddImageFreelancer()" class="btn 
                    btn-success">Ajouter Image</button>
                    </div>
                    
            <div class="col-sm-16 col-md-16 col-lg-16">
                <img [src]="myImage" class="card-img-top img-fluid rounded-start"
                style="width: 500px; height: 300px" />
                </div>
                <div class="card shadow mb-4">
                    <div class="card-body">
                    <table class="table table-striped">
                    <thead>
                    <tr> <th>Images</th> </tr>
                    </thead>
                    <tbody *ngFor="let img of currentFreelancer.images">
                        <tr>
                        <td><img class="card-img-top img-responsive"
                        src = "{{'data:' + img.type + ';base64,' + img.image}}"
                        style = "height :50px;width:100px"></td>
                        <td style="width:20%" ><a class="btn btn-danger"
                            (click)="supprimerImage(img)">Supprimer</a></td>
                        </tr>
                        </tbody>
                        </table>
                        </div>
                        </div>                    
        <div class="mt-2">
        <button type="submit" (click)="updateFreelancer()" class="btn btn-success">Modifer</button>
        </div>
        </form>
        </div>
